@import url(blog.css);
h2{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
body{
    color:rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    
} 

 